tr > a:link {
    color: rgb(245, 33, 245);
}

tr > a:visited {
    color: lawngreen;
}

tr:nth-child(2) {
    color: rgb(14, 224, 207);
}

tr:nth-child(3):hover {
    color: red;
}

tr:nth-child(4):not(tr:nth-child(1)) {
    color: brown;
}

tr:nth-child(5) {
    color: rgb(111, 226, 33);
}

tr:nth-child(6):checked {
    color: gold;
}